/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* HTML RESETS */

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("home-backgroung.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 50px;
  font-size: 150%;
}

/* NAV-BAR */

.logo {
  float: left;
  color: white;
}

.navbar {
  width: 85%;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.nav-items {
  float: right;
  list-style: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: red;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}

.nav-item {
  display: inline-block;
  margin: 2px;
  padding: 10px;
}

.toggle-button {
  position: absolute;
  top: 4.6rem;
  right: 12rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-color: black;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  /* margin: 2px; */
}

@media screen and (max-width: 650px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    /* display: flex; */
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* CONTENT */

.content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px 20px;
}

.container h2 {
  padding: 2rem 0;
  font-size: 4rem;
}

.btn {
  padding: 10px 25px;
  background-color: black;
  border-radius: 25px;
  margin: 10px;
}

.content a {
  color: white;
  text-decoration: none;
}

.content a:hover {
  color: red;
}

/* SECTIONS */

.container {
  background-color: #ddd;
  padding: 10rem;
}

.row {
  height: 35vh;
  /* border: 2px solid black; */
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

.row1 {
  margin-bottom: 10vh;
}

.row1 .img,
.row2 .text {
  float: left;
  width: 50%;
}

.row2 .img,
.row1 .text {
  float: right;
  width: 49%;
}

.img {
  height: 100%;
}

.text {
  padding: 3rem;
  /* border: 2px solid black; */
}

.row .img img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text h2 {
  text-transform: uppercase;
  padding: 2rem;
  font-size: large;
}

.text p {
  font-size: medium;
  padding: 1rem;
}

.row a {
  padding: 10px 25px;
  background-color: black;
  border-radius: 25px;
  margin-left: 3.5%;
  font-size: small;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.row a:hover {
  color: red;
  background-color: beige;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

@media screen and (max-width: 1115px) {
  .text {
    text-align: center;
  }

  .row1 .img,
  .row2 .text {
    float: left;
    width: 100%;
  }

  .row2 .img,
  .row1 .text {
    float: left;
    width: 100%;
  }
  .row {
    display: inline-block;
  }

  .row a {
    position: relative;
    left: 44%;
  }

  .container {
    padding: 5rem;
  }
}

/* feature */

.feature-container {
  padding: 10rem;
}

.feature {
  font-size: 150%;
  font-family: "Courier New", Courier, monospace;
  padding: 10rem 0;
}

.box-wrapper {
  border: 2px solid black;
  box-shadow: 10px 12px grey;
}

.box-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.box {
  float: left;
  width: 33.33333%;
  padding: 2rem;
  text-align: center;
}

.box-1,
.box-3 {
  background-color: rgb(32, 29, 29);
}

.box-2 {
  background-color: rgb(160, 51, 51);
}

@media screen and (max-width: 975px) {
  .box {
    width: 100%;
  }

  .feature-container {
    padding: 3rem;
  }

  .box-wrapper {
    /* border: none; */
    /* box-shadow: none; */
    display: inline-block;
  }
}

/* footer */

footer {
  background-color: #263238;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  font-size: 150%;
}

.links i {
  margin: 2rem;
}
